importar librerias y cargar base de datos sucia

In [33]:
import pandas as pd 
df = pd.read_csv("C:/Users/aaron/Downloads/df_sucio.csv")
df.head()

,age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0.0,215.0,5.7,...,41.0,160,145,136.0,236,6.36,8.18,29.6,Type 2,1
1,48,Female,White,Highschool,Middle,Employed,Former,1.0,143.0,NaN,...,55.0,50,30,93.0,150,2.0,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1.0,57.0,6.4,...,NaN,99,36,118.0,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0.0,49.0,3.4,...,50.0,79,140,139.0,253,5.28,9.03,38.2,NaN,1
4,NaN,Male,White,Graduate,Middle,Retired,Never,1.0,109.0,7.2,...,52.0,125,160,137.0,184,12.74,7.20,23.5,Type 2,1

se verifica el tipo de dato registrado en cada columna para realizar el cambio de tipo en caso de ser necesario

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100428 entries, 0 to 100427
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   age                                 97416 non-null  object
 1   gender                              97416 non-null  object
 2   ethnicity                           97416 non-null  object
 3   education_level                     97416 non-null  object
 4   income_level                        97416 non-null  object
 5   employment_status                   97416 non-null  object
 6   smoking_status                      97416 non-null  object
 7   alcohol_consumption_per_week        97416 non-null  float64
 8   physical_activity_minutes_per_week  97416 non-null  float64
 9   diet_score                          97416 non-null  float64
 10  sleep_hours_per_day                 97416 non-null  float64
 11  screen_time_hours_per_day           97416 non-null  float64
 12  family_history_diabetes             97416 non-null  float64
 13  hypertension_history                97416 non-null  float64
 14  cardiovascular_history              97416 non-null  object
 15  bmi                                 97416 non-null  object
 16  waist_to_hip_ratio                  95475 non-null  float64
 17  systolic_bp                         95474 non-null  float64
 18  diastolic_bp                        97416 non-null  object
 19  heart_rate                          97416 non-null  object
 20  cholesterol_total                   97416 non-null  float64
 21  hdl_cholesterol                     97416 non-null  float64
 22  ldl_cholesterol                     97416 non-null  object
 23  triglycerides                       97416 non-null  object
 24  glucose_fasting                     97416 non-null  float64
 25  glucose_postprandial                97416 non-null  object
 26  insulin_level                       97416 non-null  object
 27  hba1c                               97416 non-null  float64
 28  diabetes_risk_score                 97416 non-null  object
 29  diabetes_stage                      97416 non-null  object
 30  diagnosed_diabetes                  97416 non-null  object
dtypes: float64(13), object(18)
memory usage: 23.8+ MB

se verifican las columnas con las que se cuenta

In [35]:
df.columns

Index(['age', 'gender', 'ethnicity', 'education_level', 'income_level',
       'employment_status', 'smoking_status', 'alcohol_consumption_per_week',
       'physical_activity_minutes_per_week', 'diet_score',
       'sleep_hours_per_day', 'screen_time_hours_per_day',
       'family_history_diabetes', 'hypertension_history',
       'cardiovascular_history', 'bmi', 'waist_to_hip_ratio', 'systolic_bp',
       'diastolic_bp', 'heart_rate', 'cholesterol_total', 'hdl_cholesterol',
       'ldl_cholesterol', 'triglycerides', 'glucose_fasting',
       'glucose_postprandial', 'insulin_level', 'hba1c', 'diabetes_risk_score',
       'diabetes_stage', 'diagnosed_diabetes'],
      dtype='object')

conteo de datos nulos por columna

In [36]:
df.isnull().sum()

age                                   3012
gender                                3012
ethnicity                             3012
education_level                       3012
income_level                          3012
employment_status                     3012
smoking_status                        3012
alcohol_consumption_per_week          3012
physical_activity_minutes_per_week    3012
diet_score                            3012
sleep_hours_per_day                   3012
screen_time_hours_per_day             3012
family_history_diabetes               3012
hypertension_history                  3012
cardiovascular_history                3012
bmi                                   3012
waist_to_hip_ratio                    4953
systolic_bp                           4954
diastolic_bp                          3012
heart_rate                            3012
cholesterol_total                     3012
hdl_cholesterol                       3012
ldl_cholesterol                       3012
triglycerides                         3012
glucose_fasting                       3012
glucose_postprandial                  3012
insulin_level                         3012
hba1c                                 3012
diabetes_risk_score                   3012
diabetes_stage                        3012
diagnosed_diabetes                    3012
dtype: int64

tamaÃ±o del dataframe original

In [37]:
df.shape

(100428, 31)

visualizacion de datos duplicados

In [38]:
df.duplicated().sum()

27

como solo son 27 valores duplicados, los elimmino directamente del dataframe original

In [39]:
df= df.drop_duplicates()

se comprueba que se eliminaron

In [40]:
df.duplicated().sum()

0

se muestran los valores unicos por columna en el dataframe

In [41]:
for i in df:
    print(f"los valores unicos en la columna {i} son: ", df[i].unique())
    print()

los valores unicos en la columna age son:  ['58' '48' '60' '74' nan '46' '75' '62' '42' '59' '43' '54' '19' '22' '41'
 '34' '55' '35' '27' '73' '51' '52' '32' '56' '40' '45' '80' '50' '33'
 '63' '30' '53' '26' '38' '67' '44' '39' '66' '65' '37' '47' '72' '49'
 '18' '89' '31' '68' '28' '85' '25' 'Auto%#' '71' '24' '29' '61' '69' '57'
 '36' '90' '64' '87' '20' '84' '78' '76' '70' '83' '79' '23' '81' '77'
 '21' '86' '82' '88']

los valores unicos en la columna gender son:  ['Male' 'Female' nan 'Other']

los valores unicos en la columna ethnicity son:  ['Asian' 'White' 'Hispanic' 'Black' nan 'Other']

los valores unicos en la columna education_level son:  ['Highschool' 'Graduate' 'Postgraduate' 'No formal' nan]

los valores unicos en la columna income_level son:  ['Lower-Middle' 'Middle' 'Low' 'Upper-Middle' nan 'High' 'Auto%#']

los valores unicos en la columna employment_status son:  ['Employed' 'Unemployed' 'Retired' nan 'Student']

los valores unicos en la columna smoking_status son:  ['Never' 'Former' 'Current' nan]

los valores unicos en la columna alcohol_consumption_per_week son:  [ 0.  1.  2.  3.  6.  5.  4. nan  9.  8.  7. 10.]

los valores unicos en la columna physical_activity_minutes_per_week son:  [215. 143.  57.  49. 109. 124.  53.  75. 114.  86. 118. 167.  nan 105.
  99.  31.  54.  14. 164. 128. 147. 241. 185.  78. 148.  88.  29. 115.
 182. 106. 113.  51. 170.  72. 133.  34.  59. 123.  71.  91.  17. 175.
  30.  39.  77. 121. 240.  80. 188.  85.  56.  61.  47.  62. 180. 135.
 287.  73.  18. 156.  74.  69. 155.  97. 144. 228.  60. 237. 194.  44.
  63.  43. 126. 103. 142.  83.  40. 111.  84. 198. 369. 173. 130. 227.
  24. 179. 131. 138.  70.  42. 145. 153. 317. 132.  28. 207.  89. 425.
  94.  35. 225. 141. 202.  93. 217. 110. 313. 249. 171. 244.  66. 200.
 242.  96.  41.  20.  68. 384.  81.  64. 258.  50.  87.  67.  45. 212.
  92. 268. 232.  27. 235.  82. 159.  48. 245.  58. 117.  90. 101. 269.
 158.  23. 412. 272. 112. 281. 119. 136. 341. 137.  21. 178. 301. 154.
 100.  52. 191. 211. 165. 186.  46. 181. 234. 251. 127.  55. 174. 278.
 364.  36. 279.  95. 151.  38. 184. 298. 102. 270. 176.  32. 266. 387.
 140. 152. 309. 275. 209. 493. 285. 172. 205.   7. 107. 104. 292. 149.
 157. 108. 286.  98. 122. 252.  33.  15. 201. 314. 162.  37.  65.  25.
 195. 243.   9. 193. 134.  76. 183. 161.  10.  19. 324. 125. 295.  22.
 190. 187. 290. 189.  79. 150. 219. 129. 210. 116. 146.  12. 280. 239.
 296. 263. 168.  26. 223. 120. 203. 213. 372. 401. 233. 529.   2.   8.
 197. 177. 192. 246. 238. 206. 264. 139. 250. 346. 160. 248. 265. 355.
 196.  16. 345. 330. 439. 204. 218. 325. 222. 199. 214. 277. 422. 221.
 318. 231.  13. 284. 163. 259. 257.  11. 344. 291. 399. 339.   0. 169.
 304. 404. 208. 220. 321. 267. 293.   3. 216. 230. 166. 395. 299. 271.
 260. 371. 406. 254. 381. 297. 307. 274.   6. 305. 316. 391. 282. 226.
 273. 352. 247. 379. 353. 229. 557. 262. 334. 634. 322. 467. 294. 397.
 354.   1. 326. 407. 335. 253. 400. 413. 446. 427. 409. 332. 524. 327.
   5. 224. 350. 386. 328. 236. 389. 382. 349. 348. 402. 549.   4. 312.
 311. 283. 306. 494. 320. 331. 315. 323. 380. 289. 459. 255. 442. 256.
 450. 488. 338. 368. 360. 336. 261. 276. 489. 511. 433. 470. 560. 517.
 411. 373. 303. 288. 319. 445. 343. 392. 394. 365. 462. 429. 362. 377.
 405. 337. 342. 398. 300. 366. 482. 463. 464. 430. 432. 420. 410. 558.
 358. 479. 440. 347. 453. 496. 403. 419. 415. 435. 509. 393. 590. 497.
 310. 359. 483. 443. 374. 531. 356. 481. 441. 469. 545. 424. 472. 548.
 431. 434. 436. 376. 367. 567. 451. 308. 421. 329. 385. 444. 396. 498.
 438. 333. 456. 437. 302. 501. 378. 448. 370. 474. 487. 357. 485. 552.
 363. 477. 351. 452. 543. 553. 390. 568. 383. 414. 547. 530. 340. 461.
 375. 455. 428. 466. 454. 535. 408. 504. 426. 423. 361. 418. 550. 417.
 388. 480. 476. 571. 520. 551. 542. 534. 502. 649. 527. 537. 647. 570.
 505. 513. 540. 564. 465. 627. 516. 565. 475. 492. 522. 458. 620. 579.
 602. 490. 495. 486. 508. 507. 554. 515. 622. 580. 500. 651. 559. 536.
 591. 478. 640. 701. 572. 506. 692. 561. 460. 664. 503. 555. 449. 628.
 748. 416. 606. 833. 514. 519. 655. 546. 611. 630. 538. 593. 610. 510.
 528. 585. 532. 639. 562. 512. 596. 609. 652. 447. 471. 491. 632. 728.
 595. 518. 457. 525. 573. 605. 631. 576. 468. 697. 541. 581. 587. 619.
 499. 603. 642. 577. 473. 484. 648. 523. 751. 612. 705. 747. 533. 739.
 613. 712. 668. 597.]

los valores unicos en la columna diet_score son:  [ 5.7  nan  6.4  3.4  7.2  9.   9.2  4.1  6.7  8.2  7.5  7.   6.6  5.3
  5.4  8.6  4.8  6.   8.8  6.2  3.7  9.8  4.5  3.3  5.2  5.9  8.7  8.4
  0.8  7.4  8.1  5.6  5.5 10.   4.3  4.6  8.3  1.5  6.1  3.8  7.1  9.6
  7.9  5.8  1.3  7.8  7.7  6.8  5.   9.4  6.5  4.7  7.6  4.4  8.   4.
  3.6  3.9  6.9  8.9  6.3  2.9  5.1  7.3  2.3  9.3  1.4  2.7  2.6  8.5
  9.9  9.1  9.7  4.9  3.   3.1  3.2  3.5  4.2  2.2  2.4  0.   2.5  2.8
  0.2  9.5  2.   1.9  0.9  2.1  1.2  1.7  1.6  1.8  0.7  1.1  0.3  0.4
  1.   0.1  0.6  0.5]

los valores unicos en la columna sleep_hours_per_day son:  [ 7.9  6.5  nan  6.6  7.4  6.2  7.8  9.   8.5  5.3  5.2  6.9  6.8  9.2
  6.3  7.2  7.6  9.3  7.1  4.5  5.6  7.   8.   4.9  5.5  5.1  5.8  5.9
 10.   8.6  6.1  8.2  7.3  7.7  7.5  8.4  5.   8.8  6.4  8.1  6.   5.4
  4.6  4.7  9.4  4.2  8.9  6.7  8.7  9.1  8.3  5.7  4.8  4.3  4.1  9.5
  9.7  4.   3.2  9.6  9.9  3.4  4.4  9.8  3.7  3.9  3.6  3.8  3.3  3.
  3.5  3.1]

los valores unicos en la columna screen_time_hours_per_day son:  [ 7.9  8.7  8.1  5.2  5.   5.4  8.  12.9  8.5  7.4  5.1  7.7  2.3  1.9
  3.7  8.4  7.8  8.2  9.   6.3  7.2  2.   7.5  6.4  4.2  9.8  5.9  5.7
  9.2  3.9  5.3  0.5  8.8  5.8  6.5  3.6  9.3  2.8  5.6  8.9  9.4  2.4
  4.5 10.8 10.4  6.6  6.8  6.9  3.3  1.1 10.7  nan  3.2  4.6  6.2  4.9
  8.6  1.2 10.3  9.6  9.1  9.9  4.8  9.7  6.   4.3 10.1  2.1  3.8  4.4
  0.9  0.7  8.3  7.3  3.5  1.6  5.5  6.7  2.2 11.4  2.5  4.7  2.7  4.
 10.6  3.   2.6  4.1 10.2  7.1 11.3  3.1  0.6 10.  12.4  7.6  1.7  7.
  6.1 12.5  2.9  1.3 11.8 11.5  1.  12.1  3.4 12.6  1.4 10.9  9.5 12.7
  1.5 11.6 11.  10.5 11.2 12.   0.8 14.   1.8 11.1 12.8 11.9 13.9 12.3
 11.7 13.3 14.4 12.2 13.1 13.  13.2 15.  13.7 14.2 14.1 13.4 13.5 14.3
 14.6 13.6 14.7 15.9 13.8 15.5 15.1 16.5 14.5 15.7 14.9 15.8 16.  14.8
 16.4 15.4 16.8]

los valores unicos en la columna family_history_diabetes son:  [ 0.  1. nan]

los valores unicos en la columna hypertension_history son:  [ 0.  1. nan]

los valores unicos en la columna cardiovascular_history son:  ['0' nan 'Auto%#' '1']

los valores unicos en la columna bmi son:  ['30.5' '23.1' '22.2' '26.8' '21.2' '26.1' '25.1' '23.9' 'Auto%#' '26.7'
 '24.8' '22.3' '31.2' '21.6' '31.4' '25.9' '20.3' '18.0' '22.8' '29.6' nan
 '27.4' '25.4' '26.2' '31.8' '27.8' '24.6' '18.5' '20.6' '30.7' '19.6'
 '24.1' '29.4' '20.8' '20.2' '23.4' '19.8' '28.3' '27.9' '24.5' '26.5'
 '31.3' '27.5' '28.5' '21.9' '19.2' '30.4' '23.3' '21.8' '28.1' '25.3'
 '27.1' '29.3' '18.9' '28.9' '24.0' '28.4' '28.6' '25.8' '22.4' '18.4'
 '24.9' '32.0' '27.0' '28.7' '23.7' '18.1' '26.4' '20.7' '22.6' '27.6'
 '32.2' '29.0' '30.8' '24.3' '20.1' '25.6' '30.9' '26.9' '29.7' '21.3'
 '22.1' '21.7' '28.8' '24.4' '20.0' '28.2' '33.7' '32.8' '24.7' '29.9'
 '23.0' '30.2' '30.6' '25.7' '19.7' '25.2' '25.5' '26.3' '23.6' '32.9'
 '19.4' '22.0' '31.6' '24.2' '31.7' '27.3' '22.5' '31.5' '19.5' '20.9'
 '27.7' '28.0' '27.2' '22.9' '32.1' '29.5' '21.5' '30.3' '26.0' '25.0'
 '30.0' '26.6' '19.3' '37.8' '33.0' '23.5' '31.9' '31.1' '29.8' '23.8'
 '21.1' '30.1' '18.2' '22.7' '23.2' '32.7' '29.2' '34.0' '32.5' '31.0'
 '21.4' '20.5' '17.8' '33.1' '16.8' '32.6' '29.1' '18.6' '18.3' '21.0'
 '17.4' '19.1' '18.7' '19.0' '32.3' '19.9' '38.2' '16.7' '16.5' '33.8'
 '17.5' '33.5' '15.2' '17.7' '16.1' '15.0' '17.0' '36.1' '20.4' '33.9'
 '15.4' '35.5' '35.0' '33.3' '16.9' '17.3' '17.9' '34.7' '35.2' '15.1'
 '35.1' '32.4' '18.8' '16.4' '34.6' '36.0' '33.2' '34.3' '17.1' '16.0'
 '35.7' '17.6' '34.9' '34.4' '15.5' '33.6' '33.4' '17.2' '16.3' '15.9'
 '35.6' '15.7' '34.2' '35.9' '35.3' '15.3' '16.6' '34.1' '35.8' '34.8'
 '16.2' '15.8' '36.3' '15.6' '36.4' '37.3' '35.4' '34.5' '36.7' '37.5'
 '36.6' '36.5' '36.2' '37.7' '36.9' '36.8' '38.4' '38.3' '37.4' '37.1'
 '37.9' '37.2' '38.1' '39.1' '38.9' '37.0' '39.0' '37.6' '38.0' '39.2']

los valores unicos en la columna waist_to_hip_ratio son:  [0.89 0.8  0.81 0.88  nan 0.85 0.86 0.76 0.94 0.83 0.91 0.87 0.77 0.84
 0.9  0.92 0.95 0.79 0.96 0.82 0.78 0.75 0.93 0.97 1.   0.98 0.73 0.72
 0.71 0.99 1.01 0.74 0.68 1.02 0.69 1.05 0.7  1.03 1.06 1.04 0.67]

los valores unicos en la columna systolic_bp son:  [134. 129. 115. 120.  92.  95. 128. 103. 124.  nan 119. 105. 113. 118.
 107. 110. 100.  99. 126.  91.  90. 114. 109. 143. 122.  96.  97. 106.
 111. 112. 121. 108.  98. 125. 123. 131. 127. 104. 140. 145.  94. 148.
 147. 137. 116. 136. 132. 138. 135.  93. 157. 133. 130. 149. 102. 117.
 139. 144. 101. 154. 141. 142. 159. 165. 146. 160. 150. 151. 152. 153.
 155. 163. 156. 168. 171. 158. 162. 161. 164. 170. 169. 166. 167. 172.
 173. 174. 179.]

los valores unicos en la columna diastolic_bp son:  ['78' '76' '73' '93' '67' '81' '77' '83' '71' '85' '69' '84' nan '70' '58'
 '74' '91' '59' '90' '79' '60' '65' 'Auto%#' '82' '72' '87' '68' '75' '66'
 '80' '62' '88' '63' '92' '51' '56' '64' '61' '101' '99' '95' '86' '94'
 '55' '89' '100' '103' '54' '57' '96' '53' '50' '52' '97' '98' '105' '102'
 '110' '104' '106' '107' '108']

los valores unicos en la columna heart_rate son:  ['68' '67' '74' '57' '81' '76' '72' '70' '66' '79' nan '62' '87' '82' '63'
 '61' '77' '64' '65' '71' 'Auto%#' '85' '75' '73' '60' '83' '59' '84' '80'
 '88' '56' '69' '78' '58' '92' '54' '44' '52' '90' '97' '91' '53' '49'
 '89' '96' '93' '100' '50' '94' '86' '55' '95' '51' '48' '42' '47' '45'
 '46' '43' '40' '101' '41' '98' '99' '105' '103']

los valores unicos en la columna cholesterol_total son:  [239. 116. 213. 171. 210. 218. 238. 241. 187. 188. 144. 163. 196. 131.
 127. 206. 139. 184. 150. 220. 247. 248. 200. 167. 216. 222. 155. 211.
 160.  nan 199. 191. 235. 182. 148. 162. 176. 237. 156. 149. 227. 204.
 223. 215. 278. 173. 231. 193. 145. 153. 166. 254. 175. 251. 228. 203.
 229. 192. 157. 137. 230. 221. 172. 189. 243. 142. 234. 174. 154. 159.
 133. 179. 233. 236. 232. 202. 201. 177. 143. 244. 195. 194. 190. 205.
 207. 168. 158. 164. 169. 186. 225. 140. 197. 209. 111. 250. 152. 224.
 198. 300. 240. 263. 100. 183. 261. 170. 146. 165. 161. 118. 284. 180.
 212. 217. 104. 208. 136. 113. 178. 246. 119. 135. 122. 106. 185. 272.
 124. 129. 130. 138. 249. 252. 214. 134. 259. 151. 264. 181. 147. 126.
 219. 105. 226. 141. 273. 132. 120. 101. 121. 125. 255. 115. 128. 242.
 117. 253. 287. 291. 260. 275. 256. 107. 245. 281. 282. 123. 258. 109.
 271. 266. 285. 276. 268. 114. 102. 110. 257. 301. 262. 283. 108. 265.
 269. 112. 274. 280. 299. 103. 277. 296. 286. 290. 270. 267. 279. 293.
 295. 298. 289. 308. 288. 304. 292. 302. 307. 306. 297. 294. 318. 310.
 305.]

los valores unicos en la columna hdl_cholesterol son:  [41. 55. nan 50. 52. 61. 46. 49. 33. 44. 59. 40. 64. 47. 54. 56. 72. 67.
 73. 57. 35. 45. 63. 48. 51. 60. 65. 53. 62. 58. 70. 71. 69. 43. 38. 66.
 75. 37. 77. 68. 32. 42. 39. 76. 29. 34. 28. 25. 83. 74. 36. 23. 31. 82.
 81. 78. 96. 79. 30. 80. 88. 21. 20. 85. 27. 84. 26. 87. 24. 86. 22. 89.
 92. 90. 91. 98. 93. 95. 97. 94.]

los valores unicos en la columna ldl_cholesterol son:  ['160' '50' '99' '79' '125' '119' '161' '159' '132' '103' '61' '118' '100'
 '112' '54' '114' '63' '105' '147' '168' '96' '68' '134' '136' '121' '71'
 'Auto%#' '95' '106' '142' '107' '117' '84' '74' '163' '76' '70' '139'
 '64' '87' '141' '195' '94' '67' '150' '92' '53' '192' '120' '175' '80'
 '151' '162' '78' '127' nan '164' '128' '86' '98' '143' '65' '97' '69'
 '73' '131' '55' '66' '85' '102' '171' '90' '115' '135' '91' '144' '60'
 '170' '146' '88' '137' '122' '108' '110' '138' '140' '113' '83' '75'
 '101' '126' '111' '52' '93' '130' '56' '176' '89' '149' '245' '152' '194'
 '57' '81' '124' '72' '172' '145' '181' '116' '157' '59' '77' '58' '82'
 '123' '129' '153' '62' '167' '104' '158' '156' '217' '174' '154' '148'
 '155' '133' '51' '183' '109' '177' '165' '179' '166' '187' '169' '190'
 '204' '207' '193' '212' '180' '191' '186' '184' '203' '226' '182' '209'
 '185' '188' '178' '200' '223' '197' '173' '225' '231' '213' '208' '198'
 '215' '222' '199' '201' '196' '224' '219' '189' '206' '211' '202' '214'
 '228' '221' '205' '210' '216' '220' '229' '233' '232' '218' '246' '234'
 '238' '247' '263' '244' '243']

los valores unicos en la columna triglycerides son:  ['145' '30' '36' '140' '160' '179' '155' '120' '98' '104' '182' '49' '222'
 '141' '131' '73' '180' '148' '115' '89' '44' '172' '135' nan '52' '118'
 '106' '68' '121' '59' '80' '93' '101' '46' '82' '188' '129' '133' '192'
 '86' '136' '65' '154' '144' '163' '71' '134' '64' '38' '92' '208' '99'
 '72' '96' '139' '217' '123' '200' '197' '152' '158' '79' '223' '81' '94'
 '113' '147' '53' '193' '75' '67' '161' '132' '107' '146' '78' '45' '176'
 '229' 'Auto%#' '61' '97' '156' '150' '66' '74' '83' '116' '205' '125'
 '171' '138' '110' '119' '102' '91' '62' '165' '87' '183' '159' '130'
 '122' '100' '111' '142' '103' '143' '109' '112' '126' '95' '84' '170'
 '88' '50' '55' '70' '215' '108' '157' '199' '63' '117' '174' '137' '124'
 '149' '213' '54' '127' '164' '105' '194' '239' '60' '221' '173' '169'
 '167' '128' '185' '274' '186' '162' '190' '168' '56' '76' '177' '69'
 '114' '39' '207' '42' '90' '151' '189' '48' '201' '203' '166' '175' '41'
 '195' '178' '77' '31' '85' '210' '243' '218' '43' '209' '187' '153' '57'
 '40' '219' '269' '191' '47' '196' '58' '225' '51' '198' '230' '255' '181'
 '37' '238' '250' '211' '34' '202' '184' '35' '264' '33' '224' '226' '212'
 '216' '220' '253' '270' '257' '206' '32' '256' '237' '214' '265' '278'
 '204' '252' '232' '233' '247' '241' '227' '236' '271' '246' '262' '266'
 '242' '283' '228' '281' '231' '245' '235' '263' '240' '254' '244' '248'
 '258' '234' '251' '267' '259' '280' '268' '282' '313' '260' '249' '286'
 '289' '295' '288' '344' '275' '287' '261' '298' '272' '273' '290']

los valores unicos en la columna glucose_fasting son:  [136.  93. 118. 139. 137. 100. 101. 110. 116.  76. 124. 117. 123.  83.
 105.  91. 121.  86. 132. 113. 107. 129. 108. 119. 109. 120. 112. 133.
 106. 114. 154. 130.  94.  97.  89.  96. 143.  98. 127. 126.  90. 125.
 111. 115. 104. 103.  82.  87. 122.  95.  nan  99. 134. 128.  79. 131.
 138.  92. 102.  75.  84. 145.  85.  88. 140. 135. 141.  70. 163.  80.
 156.  81.  66.  78. 147. 153.  68. 142.  71. 146. 149. 150.  77. 144.
  69. 155. 167.  73.  74. 148.  72.  64.  61. 159. 152.  60. 162.  65.
 151.  63.  67. 157. 160.  62. 158. 165. 161. 172. 166. 164.]

los valores unicos en la columna glucose_postprandial son:  ['236' '150' '195' '253' '184' '133' '100' '189' '172' '109' '177' '183'
 '118' '152' '147' '187' '128' '167' '170' '145' '117' '163' '164' '198'
 '194' '148' '146' '202' '232' '175' '140' '191' '168' '158' '159' '122'
 nan '124' 'Auto%#' '137' '174' '169' '149' '139' '199' '119' '181' '217'
 '186' '103' '204' '156' '190' '179' '173' '162' '185' '166' '134' '206'
 '210' '155' '216' '143' '178' '120' '144' '92' '171' '165' '209' '105'
 '180' '176' '127' '136' '114' '108' '125' '135' '193' '196' '112' '129'
 '153' '192' '107' '182' '87' '203' '201' '214' '225' '138' '205' '160'
 '91' '132' '157' '200' '131' '222' '239' '88' '151' '123' '161' '228'
 '106' '121' '116' '130' '218' '101' '154' '238' '227' '141' '246' '99'
 '207' '110' '188' '111' '212' '197' '98' '126' '113' '235' '77' '90'
 '242' '115' '213' '259' '70' '226' '142' '102' '96' '266' '78' '215'
 '208' '233' '75' '237' '219' '224' '223' '272' '97' '93' '229' '231'
 '211' '243' '241' '104' '230' '86' '234' '247' '260' '84' '245' '244'
 '79' '220' '240' '221' '251' '82' '74' '95' '85' '255' '89' '83' '80'
 '271' '249' '72' '71' '94' '250' '248' '76' '258' '252' '263' '81' '265'
 '256' '73' '257' '273' '267' '254' '262' '264' '269' '270' '276' '261'
 '268' '275' '277' '281' '274' '287']

los valores unicos en la columna insulin_level son:  ['6.36' '2.0' '5.07' ... '23.29' '23.19' '23.52']

los valores unicos en la columna hba1c son:  [8.18 5.63 7.51 9.03 7.2  6.03 5.24 7.04 6.9  4.99 7.34 7.4  6.88 5.59
 5.88 6.05 5.89 6.61 6.23 6.31 6.01  nan 7.18 7.01 7.39 6.89 6.6  6.78
 6.45 6.25 7.09 8.26 6.06 7.76 7.52 6.42 6.68 5.4  7.94 6.09 5.49 4.88
 5.92 6.8  6.53 6.66 6.33 5.53 6.57 7.17 5.83 7.32 8.53 7.74 5.54 5.44
 4.96 6.52 7.26 7.47 7.54 6.55 6.85 7.03 7.68 6.38 6.39 7.67 6.83 5.42
 7.21 7.95 6.97 8.19 6.13 7.   6.81 6.12 7.12 7.02 6.63 6.26 5.79 5.66
 4.78 6.02 6.59 7.85 4.85 5.21 6.75 6.16 6.46 5.73 6.35 7.11 5.71 6.29
 7.1  5.01 5.97 5.56 6.76 6.92 5.69 7.16 6.43 7.62 6.08 4.9  6.32 6.21
 5.55 7.08 6.3  7.44 7.73 5.07 7.45 6.34 6.82 6.28 8.25 7.35 7.22 6.56
 7.65 7.33 6.54 4.97 5.95 6.65 5.84 6.67 5.68 6.7  6.07 6.48 7.38 8.01
 7.93 4.7  6.84 7.23 5.94 6.51 5.08 7.29 7.07 6.58 8.29 6.93 6.74 5.1
 5.3  5.8  5.72 7.56 6.18 5.34 5.9  6.79 6.64 4.86 5.62 5.76 6.72 6.4
 7.84 7.24 6.11 5.93 4.79 7.36 6.94 6.96 5.82 7.42 5.81 5.47 6.49 7.19
 5.45 6.98 8.52 6.   6.22 5.78 5.5  8.32 7.06 7.5  6.27 4.91 7.05 7.53
 6.91 6.99 5.48 6.71 5.36 7.75 7.14 6.73 6.14 6.87 8.08 5.52 7.83 5.12
 6.69 5.09 6.86 7.69 5.96 4.56 5.85 5.41 7.86 6.44 5.98 4.83 7.49 5.22
 5.26 7.31 7.89 6.47 8.07 5.57 6.19 4.76 7.82 5.74 7.28 7.81 5.11 4.95
 6.1  5.51 6.5  8.77 5.35 8.   5.29 6.41 7.15 6.62 7.72 8.57 7.41 7.57
 7.64 7.13 5.23 7.78 8.63 4.17 5.77 5.64 5.91 4.74 7.87 7.43 5.99 4.25
 7.96 7.25 7.61 5.87 6.36 6.04 5.58 4.67 8.05 7.46 8.13 6.24 5.61 4.77
 5.39 9.37 7.77 8.82 5.6  4.   5.65 7.48 7.99 4.98 8.22 8.14 5.17 5.46
 7.88 6.37 4.54 5.27 7.8  4.75 5.67 6.15 7.66 7.3  4.87 5.03 4.49 8.83
 5.43 5.33 4.68 8.47 6.95 7.9  6.77 5.31 5.75 4.55 8.38 9.53 8.02 5.38
 5.16 5.28 8.55 8.98 8.41 8.11 4.4  8.2  7.58 5.37 7.71 7.92 5.7  5.2
 7.79 8.34 7.27 8.24 5.06 4.46 5.19 8.39 5.86 8.31 8.1  6.2  5.25 4.93
 7.55 5.14 8.06 7.98 8.15 7.59 8.03 8.86 8.45 8.66 8.16 8.89 4.8  5.04
 6.17 8.09 8.27 8.67 8.12 5.32 7.97 8.33 8.17 4.63 8.96 8.49 5.13 5.18
 7.37 5.15 4.04 4.65 8.56 9.02 7.91 4.71 4.41 8.73 4.84 8.6  9.21 8.04
 4.26 8.43 4.32 9.36 7.7  8.21 7.6  8.61 9.   5.05 4.51 4.82 8.59 4.48
 4.73 4.34 4.37 8.37 5.02 4.08 4.58 8.93 8.65 4.81 4.61 4.27 4.24 8.46
 7.63 4.6  4.28 4.5  4.94 4.89 9.26 4.92 4.12 8.75 8.23 8.3  8.28 8.7
 4.69 4.72 8.64 5.   8.36 4.42 4.43 8.8  9.22 8.4  4.66 9.16 4.22 8.42
 8.62 4.02 8.54 8.69 4.14 4.03 4.1  8.71 8.87 8.58 9.11 4.39 8.81 4.57
 4.21 4.45 8.51 8.48 4.59 8.92 9.06 8.35 9.05 4.53 4.52 4.2  9.35 8.44
 4.64 8.68 8.99 4.44 4.23 9.19 8.95 9.1  4.16 8.5  8.79 4.29 4.36 4.3
 4.62 4.13 9.07 4.06 4.31 8.78 9.31 4.18 4.35 9.23 8.76 4.15 8.74 4.47
 8.72 9.25 4.33 4.09 4.19 9.12 8.9  9.51 8.94 9.4  8.85 9.04 8.84 4.38
 9.33 9.46 4.05 9.38 8.97 9.39 8.91 4.07 9.08 9.54 9.34 9.18 9.3  9.01
 8.88 9.32 9.7  9.29 9.09 9.28 9.15 9.13 4.11 4.01 9.17 9.49 9.8  9.14
 9.2  9.24]

los valores unicos en la columna diabetes_risk_score son:  ['29.6' '23.0' '44.7' '38.2' '23.5' '36.1' '34.2' '26.7' '30.0' '25.3'
 '18.5' '37.5' '7.3' '21.1' '24.1' '23.1' '32.8' '26.1' '16.0' '34.3'
 '24.7' '19.6' '35.0' '23.3' '32.5' '26.0' '24.4' '43.1' '17.3' '39.3'
 '23.2' '20.9' '49.6' '18.7' '28.4' '30.4' '36.8' '26.6' '51.9' '21.8'
 '27.3' '30.8' '44.4' 'Auto%#' '35.1' '28.0' '41.5' '29.3' '16.7' '28.5'
 '44.1' '32.6' '19.9' '49.9' '22.1' '26.5' '33.0' '33.5' '28.1' '41.0'
 '48.4' '25.1' '40.1' '27.7' '35.6' '35.7' '22.3' '45.0' '23.6' '17.5'
 '26.8' '34.4' '36.3' '20.5' '23.8' nan '28.6' '50.0' '24.6' '16.1' '27.6'
 '44.9' '26.9' '29.8' '23.9' '34.8' '25.4' '24.9' '11.5' '41.4' '27.0'
 '31.9' '25.2' '50.4' '47.6' '31.6' '33.6' '39.2' '38.4' '9.1' '19.5'
 '39.8' '38.1' '35.2' '20.6' '32.9' '34.9' '28.7' '31.7' '16.2' '36.0'
 '27.2' '33.1' '19.8' '39.6' '44.0' '27.5' '34.7' '17.2' '26.3' '27.1'
 '29.4' '19.3' '39.5' '27.8' '44.6' '32.3' '25.6' '44.2' '38.6' '49.1'
 '16.5' '45.1' '45.6' '23.4' '20.1' '20.0' '32.1' '36.4' '52.4' '20.2'

se hace el conteo de los valores incongruentes que en este caso es la palabra Auto%#

In [42]:
for nombre in df:
    print(f"En la columna {nombre} los datos incongruentes son: {df[df[nombre] == 'Auto%#'].shape[0]}")

En la columna age los datos incongruentes son: 1942
En la columna gender los datos incongruentes son: 0
En la columna ethnicity los datos incongruentes son: 0
En la columna education_level los datos incongruentes son: 0
En la columna income_level los datos incongruentes son: 1937
En la columna employment_status los datos incongruentes son: 0
En la columna smoking_status los datos incongruentes son: 0
En la columna alcohol_consumption_per_week los datos incongruentes son: 0
En la columna physical_activity_minutes_per_week los datos incongruentes son: 0
En la columna diet_score los datos incongruentes son: 0
En la columna sleep_hours_per_day los datos incongruentes son: 0
En la columna screen_time_hours_per_day los datos incongruentes son: 0
En la columna family_history_diabetes los datos incongruentes son: 0
En la columna hypertension_history los datos incongruentes son: 0
En la columna cardiovascular_history los datos incongruentes son: 1959
En la columna bmi los datos incongruentes son: 1953
En la columna waist_to_hip_ratio los datos incongruentes son: 0
En la columna systolic_bp los datos incongruentes son: 0
En la columna diastolic_bp los datos incongruentes son: 1935
En la columna heart_rate los datos incongruentes son: 1950
En la columna cholesterol_total los datos incongruentes son: 0
En la columna hdl_cholesterol los datos incongruentes son: 0
En la columna ldl_cholesterol los datos incongruentes son: 1965
En la columna triglycerides los datos incongruentes son: 1962
En la columna glucose_fasting los datos incongruentes son: 0
En la columna glucose_postprandial los datos incongruentes son: 1961
En la columna insulin_level los datos incongruentes son: 1950
En la columna hba1c los datos incongruentes son: 0
En la columna diabetes_risk_score los datos incongruentes son: 1949
En la columna diabetes_stage los datos incongruentes son: 1945
En la columna diagnosed_diabetes los datos incongruentes son: 1956

se crea un alista de las columnas con valores incongruentes para despues eliminarlos y poder hacer el cambio de tipo de variable en las columnas

In [45]:
lista_con_incon= ["age", "income_level", "cardiovascular_history", "bmi", "diastolic_bp", "heart_rate", "ldl_cholesterol", "triglycerides", "glucose_postprandial", "insulin_level"
                  , "diabetes_stage", "diagnosed_diabetes","diabetes_risk_score"]


para eliminar los valores incongruentes los transformÃ© a valores nulos y esos valores nulos los cambiÃ© por el valor inmediato anterior

In [46]:
for columna in lista_con_incon:
    df[columna] = df[columna].replace("Auto%#", None)
    df[columna] = df[columna].fillna(method='bfill')

C:\Users\aaron\AppData\Local\Temp\ipykernel_13608\1824905169.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[columna] = df[columna].fillna(method='bfill')

se comprueba que se eliminaron los datos incongruentes

In [47]:
for nombre in df:
    print(f"En la columna {nombre} los datos incongruentes son: {df[df[nombre] == 'Auto%#'].shape[0]}")

En la columna age los datos incongruentes son: 0
En la columna gender los datos incongruentes son: 0
En la columna ethnicity los datos incongruentes son: 0
En la columna education_level los datos incongruentes son: 0
En la columna income_level los datos incongruentes son: 0
En la columna employment_status los datos incongruentes son: 0
En la columna smoking_status los datos incongruentes son: 0
En la columna alcohol_consumption_per_week los datos incongruentes son: 0
En la columna physical_activity_minutes_per_week los datos incongruentes son: 0
En la columna diet_score los datos incongruentes son: 0
En la columna sleep_hours_per_day los datos incongruentes son: 0
En la columna screen_time_hours_per_day los datos incongruentes son: 0
En la columna family_history_diabetes los datos incongruentes son: 0
En la columna hypertension_history los datos incongruentes son: 0
En la columna cardiovascular_history los datos incongruentes son: 0
En la columna bmi los datos incongruentes son: 0
En la columna waist_to_hip_ratio los datos incongruentes son: 0
En la columna systolic_bp los datos incongruentes son: 0
En la columna diastolic_bp los datos incongruentes son: 0
En la columna heart_rate los datos incongruentes son: 0
En la columna cholesterol_total los datos incongruentes son: 0
En la columna hdl_cholesterol los datos incongruentes son: 0
En la columna ldl_cholesterol los datos incongruentes son: 0
En la columna triglycerides los datos incongruentes son: 0
En la columna glucose_fasting los datos incongruentes son: 0
En la columna glucose_postprandial los datos incongruentes son: 0
En la columna insulin_level los datos incongruentes son: 0
En la columna hba1c los datos incongruentes son: 0
En la columna diabetes_risk_score los datos incongruentes son: 0
En la columna diabetes_stage los datos incongruentes son: 0
En la columna diagnosed_diabetes los datos incongruentes son: 0

ahora utilizando el mismo metodo, relleno los valores nulos en las demÃ¡s columnas

In [48]:
for colum in df:
    df[colum]=df[colum].fillna(method='bfill')

C:\Users\aaron\AppData\Local\Temp\ipykernel_13608\1307558410.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[colum]=df[colum].fillna(method='bfill')

se comprueba que ya no hay valores nulos en ninguna columna

In [49]:
df.isnull().sum()

age                                   0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
employment_status                     0
smoking_status                        0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
glucose_fasting                       0
glucose_postprandial                  0
insulin_level                         0
hba1c                                 0
diabetes_risk_score                   1
diabetes_stage                        0
diagnosed_diabetes                    0
dtype: int64

como el bfill no rellenÃ³ un valor en la columna "diabetes_risk_score", utilice el ffill

In [50]:
 df["diabetes_risk_score"]=df["diabetes_risk_score"].fillna(method='ffill')

C:\Users\aaron\AppData\Local\Temp\ipykernel_13608\2686900603.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["diabetes_risk_score"]=df["diabetes_risk_score"].fillna(method='ffill')

se comprueba que esta vez ya no hay valores nulos

In [51]:
df.isnull().sum()

age                                   0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
employment_status                     0
smoking_status                        0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
glucose_fasting                       0
glucose_postprandial                  0
insulin_level                         0
hba1c                                 0
diabetes_risk_score                   0
diabetes_stage                        0
diagnosed_diabetes                    0
dtype: int64

ahora traducirÃ© las columnas a espaÃ±ol

In [52]:
traduccion_columnas = {
    'age': 'edad',
    'gender': 'gÃ©nero',
    'ethnicity': 'etnia',
    'education_level': 'nivel_educativo',
    'income_level': 'nivel_ingresos',
    'employment_status': 'estado_laboral',
    'smoking_status': 'hÃ¡bito_fumar',
    'alcohol_consumption_per_week': 'consumo_alcohol_semana',
    'physical_activity_minutes_per_week': 'actividad_fÃ­sica_minutos_semana',
    'diet_score': 'puntaje_dieta',
    'sleep_hours_per_day': 'horas_sueÃ±o_por_dÃ­a',
    'screen_time_hours_per_day': 'horas_pantalla_dÃ­a',
    'family_history_diabetes': 'antecedente_familiar_diabetes',
    'hypertension_history': 'antecedente_hipertensiÃ³n',
    'cardiovascular_history': 'antecedente_cardiovascular',
    'bmi': 'imc',
    'waist_to_hip_ratio': 'relaciÃ³n_cintura_cadera',
    'systolic_bp': 'presiÃ³n_sistÃ³lica',
    'diastolic_bp': 'presiÃ³n_diastÃ³lica',
    'heart_rate': 'frecuencia_cardiaca',
    'cholesterol_total': 'colesterol_total',
    'hdl_cholesterol': 'colesterol_hdl',
    'ldl_cholesterol': 'colesterol_ldl',
    'triglycerides': 'triglicÃ©ridos',
    'glucose_fasting': 'glucosa_ayuno',
    'glucose_postprandial': 'glucosa_postprandial',
    'insulin_level': 'nivel_insulina',
    'hba1c': 'hba1c',
    'diabetes_risk_score': 'puntaje_riesgo_diabetes',
    'diabetes_stage': 'etapa_diabetes',
    'diagnosed_diabetes': 'diabetes_diagnosticada'
}

df = df.rename(columns=traduccion_columnas)

se comprueba que estan traducidas

In [53]:
df.columns

Index(['edad', 'gÃ©nero', 'etnia', 'nivel_educativo', 'nivel_ingresos',
       'estado_laboral', 'hÃ¡bito_fumar', 'consumo_alcohol_semana',
       'actividad_fÃ­sica_minutos_semana', 'puntaje_dieta',
       'horas_sueÃ±o_por_dÃ­a', 'horas_pantalla_dÃ­a',
       'antecedente_familiar_diabetes', 'antecedente_hipertensiÃ³n',
       'antecedente_cardiovascular', 'imc', 'relaciÃ³n_cintura_cadera',
       'presiÃ³n_sistÃ³lica', 'presiÃ³n_diastÃ³lica', 'frecuencia_cardiaca',
       'colesterol_total', 'colesterol_hdl', 'colesterol_ldl', 'triglicÃ©ridos',
       'glucosa_ayuno', 'glucosa_postprandial', 'nivel_insulina', 'hba1c',
       'puntaje_riesgo_diabetes', 'etapa_diabetes', 'diabetes_diagnosticada'],
      dtype='object')

para terminar cambiarÃ© el tipo de valores de las columnas que no corresponden
primero harÃ© los diccionarios que son para enteros y con decimales

In [54]:
colum_int= ['edad','consumo_alcohol_semana','actividad_fÃ­sica_minutos_semana','antecedente_familiar_diabetes', 'antecedente_hipertensiÃ³n',
       'antecedente_cardiovascular','presiÃ³n_sistÃ³lica', 'presiÃ³n_diastÃ³lica', 'frecuencia_cardiaca','colesterol_total', 'colesterol_hdl', 'colesterol_ldl', 'triglicÃ©ridos',
       'glucosa_ayuno', 'glucosa_postprandial','diabetes_diagnosticada']

colum_float = ['puntaje_dieta','horas_sueÃ±o_por_dÃ­a', 'horas_pantalla_dÃ­a','imc', 'relaciÃ³n_cintura_cadera','nivel_insulina', 'hba1c',
       'puntaje_riesgo_diabetes']

In [55]:
for i in colum_int:
    df[i]=df[i].astype(int)

for j in colum_float:
    df[j]=df[j].astype(float)

y se comprueba que se cambio el tipo de variable

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100401 entries, 0 to 100427
Data columns (total 31 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   edad                             100401 non-null  int32
 1   gÃ©nero                           100401 non-null  object
 2   etnia                            100401 non-null  object
 3   nivel_educativo                  100401 non-null  object
 4   nivel_ingresos                   100401 non-null  object
 5   estado_laboral                   100401 non-null  object
 6   hÃ¡bito_fumar                     100401 non-null  object
 7   consumo_alcohol_semana           100401 non-null  int32
 8   actividad_fÃ­sica_minutos_semana  100401 non-null  int32
 9   puntaje_dieta                    100401 non-null  float64
 10  horas_sueÃ±o_por_dÃ­a              100401 non-null  float64
 11  horas_pantalla_dÃ­a               100401 non-null  float64
 12  antecedente_familiar_diabetes    100401 non-null  int32
 13  antecedente_hipertensiÃ³n         100401 non-null  int32
 14  antecedente_cardiovascular       100401 non-null  int32
 15  imc                              100401 non-null  float64
 16  relaciÃ³n_cintura_cadera          100401 non-null  float64
 17  presiÃ³n_sistÃ³lica                100401 non-null  int32
 18  presiÃ³n_diastÃ³lica               100401 non-null  int32
 19  frecuencia_cardiaca              100401 non-null  int32
 20  colesterol_total                 100401 non-null  int32
 21  colesterol_hdl                   100401 non-null  int32
 22  colesterol_ldl                   100401 non-null  int32
 23  triglicÃ©ridos                    100401 non-null  int32
 24  glucosa_ayuno                    100401 non-null  int32
 25  glucosa_postprandial             100401 non-null  int32
 26  nivel_insulina                   100401 non-null  float64
 27  hba1c                            100401 non-null  float64
 28  puntaje_riesgo_diabetes          100401 non-null  float64
 29  etapa_diabetes                   100401 non-null  object
 30  diabetes_diagnosticada           100401 non-null  int32
dtypes: float64(8), int32(16), object(7)
memory usage: 18.4+ MB

In [58]:
df.shape

(100401, 31)

se guarda la base de datos limpia

In [59]:
df.to_csv("Base_limpia.csv", index=False)